body{
    text-align: center;
    font-family: Arial, sans-serif;
    color: #1A651A;
    background-color: white;
}
h1{
    font-size: 25pt;
}
h2{
    font-size: 20pt
}
p{
    font-size: 15pt;
}
p.alert{
    font-size: 30pt;
    color: red;
    font-weight: bold;
}
div.gallery{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 40px 40px 0 40px;
}
div.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    max-width: fit-content;
}
div.contentContainer{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    font-size: 15pt;
}
a.content{
    color: #1A651A;
    margin-top: 15pt;
    display: block;
}
a.navbar{
    color: inherit;
    padding: 25px 10% 25px 10%;
    display: block;
}
a.text{
    color: #1A651A;
    text-decoration: underline;
}
img.gallery{
    height: 550px;
    margin-bottom: 20px;
}
nav{
    max-width: 100%;
}
ul.navbar{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    background-color: #1A651A;
    max-width: inherit;
}
ul.navbar:first-child{
    padding-left: 20px;
}
ul.navbar:last-child{
    padding-right: 20px;
}
li{
    display: inline-block;
    color: white;
    background-color: #1A651A;
    margin: 0 0 0 0;
    width: 16.6%;
    min-width: 120px;
}
li:hover{
    color: #1A651A;
    background-color: white;
}
div.form{
    display: flex;
    justify-content: center;
    width: inherit;
}
form{
    width: inherit;
}
label{
    font-size: 15pt;
}
input{
    margin: 10px 0 30px 0;
    border-radius: 10px;
    border: 1px solid #1A651A;
    font-size: 13pt;
}
input.submit{
    background-color: #1A651A;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
    font-size: 12pt;
}
input.submit:hover{
    cursor: pointer;
}
input.text{
    width: 200px;
}
textarea{
    margin: 10px 0 20px 0;
    border-radius: 10px;
    border: 1px solid #1A651A;
    width: inherit;
    max-width: 500px;
    height: 400px;
}
div.post{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    max-width: fit-content;
    border: 2px solid #1A651A;
    border-radius: 10px;
    padding: 0 20px 10px 20px ;
    margin: 10px 0 20px 0;
}
div.admin{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-width: fit-content;
    width: 40em;
    border: 2px solid #1A651A;
    border-radius: 10px;
}
#chngPassContainer{
    margin-bottom: 20px;
}
#title{
    width: 25em;
}
#img{
    margin-top: 20px;
}
#leftContent{
    margin-right: 100px;
}
#rightContent{
    margin-left: 100px;
}
footer{
    margin-top: 50px;
    color: white;
    background-color: #1A651A;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 99%;
    position: relative;
    bottom: 10px;
    left: 0.5%;
}
p.footer{
    padding: 0 10px 0 10px;
}
#map{
    height: 550px;
    width: 700px;
}